@import url(https://fonts.google.com/specimen/Roboto?query=Roboto);
@import url(https://fonts.google.com/specimen/Oswald?query=Oswald);

body{
    width: 100%;
    height: 100%;
    font-family: "Roboto",sans-serif;
    line-height: 27px;
    font-size: 16px;
    font-weight: normal;
    color: #777777;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Oswald",serif;
  font-weight: 700;
  color: #222222;
}
/*--------------------------------------------------------------
#  Navigation bar
--------------------------------------------------------------*/

.navbar{
  background-color:#04091e !important;
}
.navbar-nav{
  margin-left: 100px;
}
.navbar .main-menu{
  color: white !important;
  margin-right: 20px;

}
.navbar .main-menu:hover{
  color: red !important;
}
.navbar-nav > .active > .main-menu { 
color: red !important; 
}
  .dropdown:hover > .dropdown-menu {
      display: inline-block;
  }
  .dropdown > .dropdown-toggle:active {
      pointer-events: none;
  }
    .navbar-nav {
      padding-top: 1rem;
      @media (min-width: 1000px) {
          padding-top: 0;
      }
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
      outline: 0;
  }
  .navbar-toggler {
      height: 45px;
  }
  .navbar-toggler span {
      display: block;
      background-color: white;
      height: 2px;
      width: 25px;
      margin-top: 6px;
      margin-bottom: 4px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      opacity: 1;
   }
   .navbar-toggler span:nth-child(1),
   .navbar-toggler span:nth-child(3) {
      -webkit-transition: transform .35s ease-in-out;
      -moz-transition: transform .35s ease-in-out;
      -o-transition: transform .35s ease-in-out;
      transition: transform .35s ease-in-out;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(1) {
       position: absolute;
       top: 32px;
       -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
       -o-transform: rotate(135deg);
       transform: rotate(135deg);
       opacity: 0.9;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(2) {
       visibility: hidden;
       background-color: transparent;
   }
   .navbar-toggler:not(.collapsed) span:nth-child(3) {
       position: absolute;
       top: 32px;
       -webkit-transform: rotate(-135deg);
       -moz-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
       transform: rotate(-135deg);
       opacity: 0.9;
   }
.nav-link{
  transition: all 400ms linear;
}
.dropdown-menu{
  color: black !important;
  background-color: white !important;
}
.dropdown-item-text:hover{
  color: white !important;
  background-color: red;
  transition: all 300ms linear;
  text-decoration: none;
}
/*--------------------------------------------------------------
#  Banner Section
--------------------------------------------------------------*/
.banner-area{
  position: relative;
  z-index: -1;
  min-height:200px;
  background: #f9f9ff;
  box-sizing: content-box;
  top: -100px;
}
.banner-inner{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 400px;
  z-index: 1;
}
.banner-container{
  position: absolute;
  top: 100px;
  left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left:auto;
  margin-left: auto;
}
.banner-name{
  display: inline-block;
  color: #000000;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 36px;
  box-sizing: border-box;
  font-family: "Oswald",sans-serif;
}
.banner-shape1{
  background-image:url(/Asset/shape1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 0px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape2{
  background-image:url(/Asset/shape3.png);
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  left: 20%;
  top: 0px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape3{
  background-image:url(/Asset/shape4.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 28%;
  top: 240px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape4{
  background-image:url(/Asset/shape7.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
  top: 150px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape5{
  background-image:url(/Asset/shape8.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 67%;
  top: 240px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape6{
  background-image:url(/Asset/shape9.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 80%;
  top: 70px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape7{
  background-image:url(/Asset/shape10.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 96.5%;
  top: 200px;
  padding-top: 100px;
  padding-right: 46px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 0.5s;
}

@keyframes glow1{
  0%{
      opacity: 10%;
  }
  50%{
      opacity: 100%;
  }
  100%{
      opacity: 10%;
  }
}
@keyframes glow2{
  0%{
      opacity: 0%;
  }
  50%{
      opacity: 100%;
  }
  100%{
      opacity: 0%;
  }
}


/*--------------------------------------------------------------
#  Sample text Section
--------------------------------------------------------------*/
.sample-text-area{
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 70px;
}
.title_heading_color{
    color: #222222;
    font-size: 24px;
    margin-bottom: 30px;
    font-family: "Oswald",sans-serif;
    font-weight: 700;
}
.sample-text{
    line-height: 26px;
}
.section-top-border{
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 50px;
    padding-right: 0px;
    border-top: rgb(238, 238, 238);
    border-top-style: dotted;
    border-top-width: 1px;
}
.generic-blockquote{
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 30px;    
    background-color: #fff;
    border-left: 2px solid #f8b600;
}
.progress-table{
    background-color: #fff;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-right: 0px;
    min-width: 800px;
}

.table-head{
    display: flex;
}
.serial{
    width: 11.83%;
    padding-left: 30px;
    color: #222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
}
.country{
    width: 28.07%;
    color: #222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
}
.visit{
    width: 19.74%;
    color: #222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
}
.percentage{
    width: 40.36%;
    padding-right: 50px;
    color: #222;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
}
.table-row{
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-top: 1px solid #edf3fd;
    display: flex;
}
.img-pos{
    margin-right:15px ;
}
.progress{
    width: 80%;
    border-radius: 0;
    background: transparent;
}
.progress-bar{
    height: 5px;
    line-height: 15px;
}
.color-1{
    background-color: #6382e6;
}
.color-2{
    background-color: #e66686;
}
.color-3{
    background-color: #f09359;
}
.color-4{
    background-color: #73fbaf;
}
.color-5{
    background-color: #73fbaf;
}
.color-6{
    background-color: #6382e6;
}
.color-7{
    background-color: #a367e7;
}
.color-8{
    background-color: #e66686;
}
.single-gallery-image1{
    background-image: url("/Asset/BackgroundImg4.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image2{
    background-image: url("/Asset/BackgroundImg5.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image3{
    background-image: url("/Asset/BackgroundImg6.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image4{
    background-image: url("/Asset/BackgroundImg7.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image5{
    background-image: url("/Asset/BackgroundImg8.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image6{
    background-image: url("/Asset/BackgroundImg9.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image7{
    background-image: url("/Asset/BackgroundImg10.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.single-gallery-image8{
    background-image: url("/Asset/BackgroundImg11.png");
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    transition: all 0.3s ease 0s;
}
.typo-list{
    color: #777;
    margin-bottom: 10px;
    font-family: "Oswald",sans-serif;
}
.unordered-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.unordered-list li {
    position: relative;
    padding-left: 30px;
    line-height: 1.82em !important;
}

.unordered-list li::before{
    content:"";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 3px solid #f8b600;
    background: #fff;
    border-radius: 50%;
    top: 4px;
    left: 0px;
}

.ordered-list{
    list-style: none;
    padding: 0;
    margin: 5px;
}
.ordered-list-number{
    list-style-type: decimal-leading-zero;
    color: #f8b600;
    font-weight: 500;
    line-height: 1.82em !important;
}
.ordered-list-alpha{
    list-style-type: lower-alpha;
}
.ordered-list-roman{
    list-style-type: lower-roman;
}
.ordered-text{
    font-weight: 300;
    color: #777;
}
.single-input{
    display: block;
    width: 200%;
    line-height: 40px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: visible;
}
.input-group-icon{
  position: relative;
}
.icon{
  position: absolute;
  left: 20px;
  top: 10px;
  line-height: 40px;
  z-index: 3;
}
.icon-color{
  color: #797979;
}
.input-group-icon .single-input {
  padding-left: 45px;
}
.form-group{
  margin-top: 10px;
  width: 200%;
  background-color: #f9f9ff;
}
.form-select{
  background-color: #f9f9ff;
  width: 200px;
}
.custom-select{
  background-color: #f9f9ff;
  padding-top: 10px;
  padding-left: 40px;
  border: none;
  height: 60px;
  width: 430px;
}
.single-textarea{
  display: block;
  width: 200%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  height: 100px;
  resize: none;
  margin-top: 10px;
}
.single-input-primary {
  display: block;
  width: 200%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  margin-top: 10px;
}
.single-input-accent {
  display: block;
  width: 200%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  margin-top: 10px;
}
.single-input-secondary {
  display: block;
  width: 200%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #f9f9ff;
  padding: 0 20px;
  margin-top: 10px;
}
.single-element-widget {
  margin-bottom: 30px;
}
.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}
/*--------------------------------------------------------------
#  Footer Section
--------------------------------------------------------------*/
.site-footer
{
  background-color:#04091e;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Oswald",sans-serif;
  margin-bottom:28px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
  transition: all 300ms linear 0s;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style: square;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}