.book-table-area{
  z-index: 2;
    width: 100%;
    position: relative;
}
.section_gap{
    padding-top: 120px;
    padding-bottom: 120px;
}
.book-table-inner{
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}
.book-table_img{
    position: absolute;
    background-image:url("/Asset/Cake_1.png");
    background-repeat: no-repeat;
    background-size: (555px 600px);
    top: 100px;
    left: 100px;
    border: 1px solid black;
    padding-top: 100px;
    padding-right: 455px;
    padding-bottom: 500px;
    padding-left: 100px;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: middle;
    z-index: 2;
}
.book-table_form{
    position: absolute;
    top: 50px;
    left: 50px;
    box-sizing: border-box;
    height: 100%;
    background-color:#f0f0f0;
    padding-top: 110px;
    padding-right: 100px;
    padding-bottom: 600px;
    padding-left: 180px;
    margin-left: -74px;
    margin-right: 100px;
}
.book-table_title{
    display: block;
    box-sizing: border-box;
    color: #222222;
    font-size: 48px;
    margin-bottom: 12px;
    font-weight: 300;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}
.book-table_info{
    box-sizing: border-box;
    display: block;
    margin-bottom: 0px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
}
.book-table_box{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group{
    margin-bottom: 1rem;
}
.form-control{
    display: block;
    width: 100%;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-select{
    border-radius: 0px;
    border: 1px solid #eeeeee;
    height: 40px;
    background: #fff;
    width: 100%;
    position: relative;
}
.nice-select{
    border: none;
    border-radius: 0px;
    height: 40px;
    width: 100%;
}
#form-select-event{
    border-radius: 0px;
    border: 1px solid #eeeeee;
    height: 40px;
    background: #fff;
    width: 100%;
    position: absolute;
}

@import url(https://fonts.google.com/specimen/Roboto?query=Roboto);

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    line-height: 100px;
}
.navbar{
    background-color:#04091e !important;
}
.navbar-nav{
    margin-left: 100px;
}
.navbar li a{
    color: white !important;
    margin-right: 20px;
}
.navbar li a:hover{
    color: red !important;
}
.navbar-nav > .active > a { 
  color: red !important; 
}

.banner-area{
  position: relative;
  z-index: 9;
  min-height:400px;
  background: #f0f0f0;
}
.navbar-toggler{
  background-color: #000000;
  color: white;
}
.active{
  color: black;
}
.banner-inner{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 300px;
  padding-bottom: 100px;
  z-index: 1;
}
.banner-container{
  position: absolute;
  top: 0px;
  left: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left:auto;
  margin-left: auto;
}
.banner-name{
  display: inline-block;
  color: #000000;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 36px;
  box-sizing: border-box;
}
.banner-shape1{
  background-image:url(/Asset/shape1.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 0px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape2{
  background-image:url(/Asset/shape3.png);
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  left: 20%;
  top: 0px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape3{
  background-image:url(/Asset/shape4.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 28%;
  top: 196px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape4{
  background-image:url(/Asset/shape7.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
  top: 150px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape5{
  background-image:url(/Asset/shape8.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 67%;
  top: 196px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow1 1s infinite alternate 0.5s;
}
.banner-shape6{
  background-image:url(/Asset/shape9.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 80%;
  top: 70px;
  padding-top: 100px;
  padding-right: 100px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 1s;
}
.banner-shape7{
  background-image:url(/Asset/shape10.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 96.5%;
  top: 200px;
  padding-top: 100px;
  padding-right: 46px;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  margin-bottom: 1px;
  animation: glow2 1s infinite alternate 0.5s;
}

@keyframes glow1{
  0%{
      opacity: 10%;
  }
  50%{
      opacity: 100%;
  }
  100%{
      opacity: 10%;
  }
}
@keyframes glow2{
  0%{
      opacity: 0%;
  }
  50%{
      opacity: 100%;
  }
  100%{
      opacity: 0%;
  }
}
.table-form .submit-btn{
    margin-top: 30px;
}
.submit-btn{
    box-sizing: border-box;
    width: auto;
    display: inline-block;
    background: #f42f2c;
    padding: 0 30px;
    color: #fff;
    font-family: "Roboto", sans-serif ;
    font-size: 13px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    outline: none !important;
    border: 1px solid #f42f2c;
    text-align: center;
    cursor: pointer;
    transition: all 300ms linear 0s;
    box-shadow: -14px 14px 60px rgba(244, 47, 44, .32)
}


.site-footer
{
  z-index: 3;
  background-color:#04091e;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:18px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Oswald",serif;
  margin-bottom:28px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}